body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.videoitem .id {width:80px; display:inline-block}
.videoitem .title {width:150px; display:inline-block}
.videoitem .duration {width:100px; display:inline-block}

.urllist a {display:block; padding-bottom: 10px;}
